# include main requirements
-r requirements.txt
flake8==6.0.0
Flake8-pyproject==1.2.2
isort==5.10.1
mypy==1.2.0
mypy-extensions==1.0.0
pre-commit==3.2.2
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.2.0
python-dotenv==1.0.0
yapf==0.32.0
pydocstyle==6.1.1
snowballstemmer==2.2.0
flake8-docstrings==1.6.0
types-Flask_Cors==3.0.10
types-Pillow==9.4.0.10
watchdog[watchmedo]==3.0.0
