# include main requirements
-r requirements.txt
flake8==6.0.0
Flake8-pyproject==1.2.2
isort==5.10.1
mypy==0.991
mypy-extensions==0.4.3
pre-commit==2.20.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.2.0
python-dotenv==0.21.0
yapf==0.32.0
pydocstyle==6.1.1
snowballstemmer==2.2.0
flake8-docstrings==1.6.0
types-Flask_Cors==3.0.10
types-Pillow==9.3.0.4