{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <table>
        <tr>
            <td>
                <a class="nav-item nav-link" href="{{ url_for('shared_analysis_view') }}?analysis={{ analysis.id }}">Se statistikker for ord og tweets</a>
            </td>
            {% if not analysis.shared %}
            <td>
                <a class="nav-item nav-link" href="{{ url_for('robot') }}?robot={{ analysis.robots[-1].id }}">Gå til seneste Robot</a>
            </td>
            {% endif %}
        </tr>
    </table>
</div>
<div class="content-section">
<div class="content-section" id="chart">
{% include "bar_chart.html" %}
</div>
<div class="content-section">
<p> {{ tweet.time_posted }} </p>
{% for tup in word_tuples %}
<span class="{{tup.1}}-{{tup.2}}" title="{{tup.1}} = {{tup.2}}%">{{ tup.0 }}</span>
{% endfor %}

<style type="text/css">
{% for tup in word_tuples %}
.{{tup.1}}-{{tup.2}} {
    color : hsl({{tup.3}}, {{tup.2 }}% , 50%);
}   
{% endfor %}
</style>
</div>
<style type="text/css">
#chart {
    margin-left:auto;margin-right:auto;width:50%;height:45%;
}
</style>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.choices.label(class="form-control-label")}}<br>
                    {{ form.choices(class="form-control form-control-lg")}}
                    {% for error in form.choices.errors %}
                        <span style="color :red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>

{% endblock content %}