{% extends "layout.html" %}

{% block content %}
<div class="content-section" id="chart">
{% include "bar_chart.html" %}
</div>
<style type="text/css">
#chart {
    margin-left:auto;margin-right:auto;width:50%;height:45%;
}
</style>
<div class="content-section">
{{ true_category }}
</div>
<div class="content-section">
{% for tup in word_tuples %}
<span class="{{tup.1}}-{{tup.2}}" title="{{tup.1}} = {{tup.2}}%">{{ tup.0 }}</span>
{% endfor %}

<style type="text/css">
{% for tup in word_tuples %}
.{{tup.1}}-{{tup.2}} {
    color : hsl({{tup.3}}, {{tup.2 }}% , 50%);
}   
{% endfor %}
</style>
</div>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.choices.label(class="form-control-label")}}<br>
                    {{ form.choices(class="form-control form-control-lg")}}
                    {% for error in form.choices.errors %}
                        <span style="color :red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}