{% extends "layout.html" %}
{% block content %}
<h1>Annotation overview</h1>

<div class="row">

    <div class="col-md-8">

    {% include "annotations_colors.html" %}

</div>
<div class="col-md-4">

   
        <table>
            <tr><td><span><a class="nav-item nav-link" href="{{ url_for('analysis') }}?analysis={{ analysis.id }}">Back to analysis</a></span></td></tr>
            <tr><td><span><a class="nav-item nav-link" href="{{ url_for('annotation_summary', analysis_id= analysis.id ) }}">See annotation summary</a></span></td>
            </tr>
        </table>

    <div id="delete-form" style="display: none;" class="content-section">
        <span id="del-headline"></span>
        <table class="table table-delete" id="del-table" >
                <thead><tr><th>Tagged text</th><th>Tag</th><th>Delete?</th></tr></thead>
                <tbody></tbody>
        </table>
        <div class="container .mt-0">
        <button id="hide-btn">Hide</button>
        </div>
    </div>
</div>
{% include "annotation_delete.html" %}
<style>
    .table-delete { 
        font-size: 80%; 
        width: 100%;
        margin-left: 0%;
        margin-right: 0%
       
    }
</style>
</div>
{% endblock content %}