
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

{% for tup in word_tuples[page-1] %}
<span class="{{tup.1}}-{{tup.2}}" title="{{tup.1}} = {{tup.2}}%">{{ tup.0 }}</span>
{% endfor %}


<style type="text/css">
{% for tup in word_tuples[page-1] %}
.{{tup.1}}-{{tup.2}} {
    background : hsl({{tup.3}}, {{(tup.2 - 50) * 2 }}% , 70%);
}   
{% endfor %}
</style>


<input type="hidden" name="tweetid" value="" id="t_id"/>
<style>
    input[type=text]{
  width:200px;
  padding:8px 10px;
    }

    span em {
    background:#ff6;
    font-weight:bold;
    font-style:normal;
    }
    .highlight {
  background-color: yellow;
}
</style>

<script>
    $("#cat-btn").click(function() {
        var cat_id = $("#sel-cat");
        var cat_btn = $("#cat-btn");
        var catid = cat_id.val()
        console.log(catid);
        
        cat_btn.attr('value',catid);
       
    });
  
    function highlight(celltxt) {
            var inputText = document.getElementById("tweettxt") // text you want to find
            var innerHTML = inputText.innerHTML;
            var index = innerHTML.indexOf(celltxt);
           
            if (index >= 0) { 
            innerHTML = innerHTML.substring(0,index) + "<span class='highlight'>" + innerHTML.substring(index,index+celltxt.length) + "</span>" + innerHTML.substring(index + celltxt.length);
            
            inputText.innerHTML = innerHTML;
            }
        };

    $(document).ready(function () {
        var table = document.getElementById("ann-list");
        
        for (let row of table.rows) 
        {
        for(let cell of row.cells) 
        { 
        
        var celltxt = cell
        console.log('celltxt:'+ celltxt.innerHTML);
        var text = celltxt.innerHTML
        console.log(text)
        highlight(text)
        }
    }
   
   
    });
    
</script>


