
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<script>
    $("#cat-btn").click(function() {
        var cat_id = $("#sel-cat");
        var cat_btn = $("#cat-btn");
        var catid = cat_id.val()
        console.log(catid);
        
        cat_btn.attr('value',catid);
       
    });
    
    //document.getElementById('SubmitBtn').addEventListener('click', () =>
    //location.href = map[document.getElementById("sel-cat").value])
   
    function getSelText()
    
      {
          var txt = '';
           if (window.getSelection)
          {
              txt = window.getSelection().toString();
              
                   }
          else if (document.getSelection)
          {
              txt = window.getSelection().toString();
              
                  }
          else if (document.selection)
          {
              txt = window.getSelection().toString();
             
                  }
          else return;
        console.log(txt);
        $.get('/save_annotation', {'tweet_id': {{ tweet.id }}, 'text': txt} ).done(
            function(returnedData) {
                console.log(returnedData)
            });
      
      };

    //$("#btn").click(function(){
    //    $.get('/save_annotation', {'tweet_id': {{ tweet.id }}, 'text': txt}).done(
    //        function(returnedData) {
    //            console.log(returnedData)
    //        })
    //        });

</script>


