
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



<form name="annform" id="annform">
   
    <textarea id="anntext" name="anntext" rows="2" cols="30"></textarea>
    <br>
    <select name="atag" id="atag" onchange="var val = this.options[this.selectedIndex].value;
    this.form.color[1].style.display=(val=='other')?'block':'none'"> 
        <option>Tag your annotation</option>  
        {% for c in tag_list %}
        <option value={{ c }}>{{ c }}</option>
        {% endfor %}
        <option value="other">other</option>
    </select> 
    <input type="hidden" id="pos" value="">
    <input type="hidden" id="pos2" value="">
    <input type="button" id="submitbtn" value="Save annotation">
    <input type="button" id="cancelbtn" value="Cancel">
</form>


<script>
    $("#cat-btn").click(function() {
        var cat_id = $("#sel-cat");
        var cat_btn = $("#cat-btn");
        var catid = cat_id.val()
        console.log(catid);
        
        cat_btn.attr('value',catid);
       
    });
    // this requires that the tweet is required in the top template
    var annotation = $("#anntext");
    var submitbtn = $("#submitbtn");
    var cancelbtn = $("#cancelbtn");
    var tpl = $("#tpl");
    
    
    var atag;
    function getSelText()
        
        {
          var txt = '';
          $("#add-annotation").attr('style',"display: block;");

           if (window.getSelection)
          {
              txt = window.getSelection().toString();
              node1 = window.getSelection().anchorNode.parentElement.id;
              node2 = window.getSelection().focusNode.parentElement.id;
              
                   }
          else if (document.getSelection)
          {
              txt = window.getSelection().toString();
              node1 = window.getSelection().anchorNode.parentElement.id;
              node2 = window.getSelection().focusNode.parentElement.id;
             
                  }
          else if (document.selection)
          {
              txt = window.getSelection().toString();
              node1 = window.getSelection().anchorNode.parentElement.id;
              node2 = window.getSelection().focusNode.parentElement.id;
             
                  }
          else return;
        console.log(txt, node1, node2);
        
        document.annform.anntext.value =  txt;
        document.annform.pos.value = node1;
        document.annform.pos2.value = node2;
       
        
      };
      
    var sel = document.getElementById('atag');
    sel.onchange=function() {
        
            var tweet_id = $("#draggable-tweet").attr('tweet_id').valueOf();
            console.log("tagtweetid", tweet_id);
            var val = this.options[this.selectedIndex].value;
            if (val == 'other') {
                var newOption = prompt('Your own tag','');
            if (newOption) {
                this.options[this.options.length-1].text = newOption;
                this.options[this.options.length-1].value = newOption;
                this.options[this.options.length] = new Option('other','other');
                }
                }
            atag = sel.options[sel.selectedIndex].value;
            
            };
 
    
    submitbtn.click(function()  {
        var tweet_id = $("#draggable-tweet").attr('tweet_id');
        $.get('/save_annotation', {'tweet_id': tweet_id, 'text': document.annform.anntext.value, 'atag': atag , 'pos': document.annform.pos.value, 'pos2': document.annform.pos2.value, 'analysis': {{ analysis.id }} } ).done(
            function(returnedData) {
                console.log(returnedData[1]);

            });

            $("#annform").trigger("reset");
            $('#atag').trigger("reset");
            $("#add-annotation").attr('style',"display: none;");

            mytuples = $("#tuples")
            console.log("options are" + sel.options[sel.selectedIndex].value)
            

    });

    
    cancelbtn.click(function()  {
        $("#annform").trigger("reset");
        $('#atag').trigger("reset");
        $("#add-annotation").attr('style',"display: none;");

    });

    function mypopup() {
       console.log('mouseup!')
    }

   

</script>


