
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<input type="hidden" name="tweetid" value="" id="t_id"/>


<script>
    function tagFunction() {
        var newtag = document.getElementById("sel-cat").value;
        var cat_btn = $("#cat-btn");
        var catid = newtag
        cat_btn.attr('value',catid);
        //document.getElementById("demo").innerHTML = "You selected: " + x;
        }
    $("#sel-cat").onchange(function() {
        var cat_id = $("#sel-cat");
        var cat_btn = $("#cat-btn");
        var catid = cat_id.val()
        console.log(catid);
        
        cat_btn.attr('value',catid);
       
    });
    

    annotate_tweets();
    var tweettxt = $("#tweettxt");
    function annotate_tweets() {
    var table = document.getElementById('Tweets');
    var cells = table.getElementsByTagName('td');
    var cat_btn = $("#cat-btn");
    var t_id = $("#t_id");
    for (var i = 0; i < cells.length; i++) {
        // Take each cell
        var cell = cells[i];
        // do something on onclick event for cell
        cell.onclick = function () {
            // Get the row id where the cell exists
            var rowId = this.parentNode.rowIndex;

            var rowsNotSelected = table.getElementsByTagName('tr');
            for (var row = 0; row < rowsNotSelected.length; row++) {
                rowsNotSelected[row].style.backgroundColor = "";
                rowsNotSelected[row].classList.remove('selected');
            }
            var rowSelected = table.getElementsByTagName('tr')[rowId];
            var idCell = rowSelected.cells[2].innerHTML;
            console.log(idCell);
            cat_btn.attr('value',idCell);
            t_id.attr('value',idCell);
            
            }
        }

    }
    function getSelText()
      {
        var table = document.getElementById('Tweets');
        var cells = table.getElementsByTagName('td');
        for (var i = 0; i < cells.length; i++) {
        // Take each cell
        var cell = cells[i];
        // do something on onclick event for cell
        
          var txt = '';
           if (window.getSelection)
          {
              txt = window.getSelection();
              start = txt.anchorOffset;
              end = txt.focusOffset;
              tweettxt.attr('value',txt);
              
                   }
          else if (document.getSelection)
          {
              txt = document.getSelection();
              start = txt.anchorOffset;
              end = txt.focusOffset;
              tweettxt.attr('value',txt);
              
                  }
          else if (document.selection)
          {
              txt = document.selection.createRange().text;
              start = txt.anchorOffset;
              end = txt.focusOffset;
              tweettxt.attr('value',txt);
             
                  }
          else return;
        var t_id = $("#t_id");
        var tweet_id = t_id.val()
        //console.log(start, end, tweet_id, tweettxt.val())
     
      }
      $.get('/save_annotation', {'tweet_id': tweet_id, 'text': tweettxt.val(), 'start':start, 'end':end} ).done(
            function(returnedData) {
                console.log(returnedData)
            });
      }

</script>


