

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  


<script>

    

    // contain within a specific container
    $('#draggable-containment').draggable({
        containment: '.draggable-container',
    });

  // select the item element
  const item = document.querySelector('.dragme');

  // attach the dragstart event handler
  item.addEventListener('dragstart', dragStart);

  // handle the dragstart

  function dragStart(ev) {
    console.log('drag starts...');
    //setTimeout(() => {
    //    ev.target.classList.add('hide');
    //}, 1);
  }

  // change dragged object color
  $( "#pieChart" ).on( "dragover", function(evt) {
                var activePoints = myPieChart.getElementsAtEvent(evt);
                if(activePoints.length > 0)
                {
                    var clickedElementindex = activePoints[0]["_index"];
                    var label = myPieChart.data.labels[clickedElementindex];
                    $('#cat').attr("value", label)
                    var value = myPieChart.data.datasets[0].data[clickedElementindex];
                   console.log(label + ' - ' + value);
                   $('#draggable-tweet').css("background-color", myPieChart.data.datasets[0].backgroundColor[clickedElementindex]);
                }
               
            });
 
  function allowDrop(ev) {
    setTimeout(() => {
      ev.preventDefault();
      item.classList.add('hide');
    }, 3000); // wait 3 sec before triggering event
    
    console.log("you're on it!");  
        
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }
  
  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
    ev.target.classList.remove('hide');

    var t_id = $("#draggable-tweet").attr('t_id');
    var cat = $("#cat").attr('value');
    console.log(t_id);
    console.log(cat);

    $.get('/save_draggable_tweet', {'analysis_id': {{ analysis.id }}, 't_id': t_id, 'category': cat }).done(
        function(returnedData) {
            
            //ratio.innerText = returnedData[3];
            //threshold.innerText = returnedData[2];
            //console.log(threshold.innerText)
              $( "#time-posted" ).innerText = returnedData[1]['time_posted']   //.append( "<p>Test</p>" );
              for(var i=0; i<returnedData[0]['word_tuples'].length; i++){
                  console.log(returnedData[0]['word_tuples'][i])
                  //$("#tuples").append('<span class="'+returnedData[0].word_tuples)
                }
        })
      }
    
    
  
</script>

<style>
    .dropbox {
      width: 350px;
      height: 70px;
      padding: 10px;
      border: 1px solid #aaaaaa;
    
    }
    .dragme {
      width: 50px;
      height: 50px;
      padding: 10px;
      margin:auto;
      color:cadetblue;
      border: 1px solid #aaaaaa;
      align-self: center;

    }
    .hide {
    display: none;
  }
    </style>


<div id="droparea">
<div id='default' ondrop="drop(event)" ondragover="allowDrop(event)" class="dropbox"></div>
</div>

<h2>jquery tweeting</h2>
<div id='tweettuple' class="container">
  <div class="inner">Hello</div>
  <div class="inner">Goodbye</div>
</div>

<div class="content-section" id="jquery-tweet" >
    <p id="time-posted"></p>
    <span id="tuples"></span>

    <style type="text/css">
        {% for tup in word_tuples %}
        .{{tup.1}}-{{tup.2}} {
            color : hsl({{tup.3}}, {{(tup.2 - 50) * 2 }}% , 50%);
        }   
        {% endfor %}
    </style>

</div>

<script>
    $.get('/save_draggable_tweet', {'analysis_id': {{ analysis.id }}, 't_id': t_id.val(), 'category': cat.val() }).done(
        function(returnedData) {
            console.log(t_id.val());
            console.log(cat.val());
            //ratio.innerText = returnedData[3];
            //threshold.innerText = returnedData[2];
            //console.log(threshold.innerText)
            $( "#time-posted" ).innerText = returnedData[1]['time_posted']   //.append( "<p>Test</p>" );
            for(var i=0; i<returnedData[0]['word_tuples'].length; i++){
                console.log(returnedData[0]['word_tuples'][i])
                //$("#tuples").append('<span class="'+returnedData[0].word_tuples)
            }
        


</script>    