

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  


<script>

    // contain within a specific container
    $('#draggable-containment').draggable({
        containment: '.draggable-container',
    });

  // select the item element
  const item = document.querySelector('.dragme');

  // attach the dragstart event handler
  item.addEventListener('dragstart', dragStart);

  // handle the dragstart

  function dragStart(ev) {
    console.log('drag starts...');
    //setTimeout(() => {
    //    ev.target.classList.add('hide');
    //}, 1);
  }

 
  function allowDrop(ev) {
    setTimeout(() => {
      ev.preventDefault();
      item.classList.add('hide');
    }, 3000); // wait 3 sec before triggering event
    //var sth = ui.draggable.context.attributes.src.textContent
    
    console.log("you're on it!");  
        
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }
  
  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
    ev.target.classList.remove('hide');
    }
    
    // change dragged object color
    $( "#pieChart" ).on( "dragover", function(evt) {
                var activePoints = myPieChart.getElementsAtEvent(evt);
                if(activePoints.length > 0)
                {
                    var clickedElementindex = activePoints[0]["_index"];
                    var label = myPieChart.data.labels[clickedElementindex];
                    var value = myPieChart.data.datasets[0].data[clickedElementindex];
                   console.log(label + ' - ' + value);
                   $('#draggable-tweet').css("background-color", myPieChart.data.datasets[0].backgroundColor[clickedElementindex]);
                }
               
            });
  
</script>

<style>
    .dropbox {
      width: 350px;
      height: 70px;
      padding: 10px;
      border: 1px solid #aaaaaa;
    
    }
    .dragme {
      width: 50px;
      height: 50px;
      padding: 10px;
      margin:auto;
      color:cadetblue;
      border: 1px solid #aaaaaa;
      align-self: center;

    }
    .hide {
    display: none;
  }
    </style>


<div id="droparea">
<div id='default' ondrop="drop(event)" ondragover="allowDrop(event)" class="dropbox"></div>
</div>
