{% extends "layout.html" %}
{% block content %}
<h1>Welcome to NLP4All!</h1>
    <p>This is Natural Language Processing 4 All (NLP4All). NLP4All is designed to make it fun and easy to play with machine learning and language.</p>
    <p>Below you see a list of projects that you can work on. Click on a project to read about it, and to get started.</p>

    <div class="content-section">
        <h2>My Projects</h2>
        <p class="border-bottom mb-4"></p>
        {% for p in projects %}
            <a class="nav-item nav-link" href="{{ url_for('project2') }}?project={{ p.id }}">{{ p.name }}</a>
            <p>{{ p.description }} </p>
        {% endfor %}
        <p>
            {% if create_project != None %}
                <p class="border-top mb-4"></p>
                <a class="nav-item nav-link" href={{create_project}}>Create a new project</a>
            {% endif %}
        </p>
    </div>

    <div class="content-section">
        <h2>Public models</h2>
        <p class="border-bottom mb-4"></p>
        {% for a in analyses %}
            <a class="nav-item nav-link" href="{{ url_for('word_embedding') }}?model={{ a.id }}">{{ a.name }}</a>
            <p>{{ a.description }} </p>
        {% endfor %}
        <p>
            <p class="border-top mb-4"></p>
            <a class="nav-item nav-link" href="{{ url_for('public_models') }}">See all public models</a>
        </p>
    </div>
{% endblock content %}
