<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mange tes morts, html</title>
</head>
<body>
    <h1>Mange bien tes morts, Javascript. Personne ne t'aime.</h1>
    <h2>On attend le résultat</h2>
    <div class="form-group" id="button">
        {{ form.show(class="form-group-input") }}
    </div>
    <div id="calculating">
        <h4>Still processing</h4>
    </div>
</body>
<script>
    var button = document.getElementById("button");
    var succes = document.getElementById("success");
    var calculating = document.getElementById("calculating");
    button.onclick = f1;
    function f1() {
        import { AsyncResult } from 'asyncresult-js';
        let r1 = new AsyncResult(null, "foo"); // same as AsyncResult.success('foo')
        alert(r1.isError()); // false
        console.log(r1.val()); // 'foo'

        let r2 = new AsyncResult("foo"); // same as AsyncResult.fail('foo')
        console.log(r1.isError()); // true
        console.log(r1.err()); // 'foo'
    };
</script>
</html>

