
{% extends "layout.html" %}



{% block content %}
<h1>
    Logistic Regression Result Analytics
</h1>
<p>
    <a class="nav-item nav-link" href="{{ url_for('log_analysis') }}?analysis={{ analysis.id }}">Til Confusion Matrix</a>
</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Probability plot</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">All Tweets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Results</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        {% set chart_data = chart_data %}
        {% set cat_names = cat_names %}
        {% include "line_chart4.html" %}

        <p>
            This graph shows the probabilities given to each political party, and the correct 
            classification to either '{{ cat_names[0] }}' as 0 or '{{ cat_names[1] }}' as 1. 
            <br> 
            <br> 
            The amount of overlap indicates how well the algorithm managed to categorize the tweets: the less overlap, the better our machine learning worked.
            <br> 
            <br> 
            On the x-axis you can see the probabilities given for each tweet.
        </p>

        

    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        {% set table_data = tweet_info %}
        {% set table_name = "tweets" %}
        {% include "data_table_link.html" %}
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        
        {% set table_data = info %}
        {% set table_name = "Model evaluation" %}
        {% include "data_table2.html" %}
        </table>
        
    </div>
</div>
{% endblock content %}