
<div class="row">
    
    <div class="col-md-8"> 
    
    <h6>Select matrices to compare</h6>
   
    <form action="" method="post" id="myForm">
    <p>Matrix 1: <select id='matrix-select'>
        <option value='0'>Select a matrix</option>
            {% for m in matrices %}
            <option value={{ m.id }}>
                {% for k in m.categories %}
                    <span>{{ k.name }}</span>
                {% endfor %} </p>
            </option>
            {% endfor %}
    </select> </p>
    <p>Change: <select id='alt-cat'>
    </select> to: <select id='new-cat'>
    </select> </p>

    <p><button type="button" id="compareBtn">Compare</button></p>
    </form>
    <div class="content-section">
    

   
    <table class="table table-bordered" id="confmx1">
        <thead id="head1"><tr></tr>
        </thead>
        <tbody></tbody>
      </table>


    <table class="table table-bordered" id="confmx2">
        <thead id="head2"><tr>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    </div>
        <div class="content-section">
        <table class="table table-striped" id="compareTable">
            <thead><tr><th>Matrix</th><th>Accuracy</th><th>Included tweets</th><th>Excluded tweets</th></thead>
            <tbody></tbody>
        </table>
        </div>
    

</div>


<div class="col-md-4"> 
    <h4>Comparison details</h4>
    <div class="content-section">
        <p>Certainty threshold: <span id="threshold_here"></span></p>
        <p>Training ratio: <span id="ratio_here"></span></p>       
    </div>
<div class="content-section">
   
                <table class="table table-bordered" id="metricsTable1">
                <thead><th>Metrics 1</th><th>Recall</th><th>Precision</th></thead>
                <tbody></tbody>
                </table>
           
                <table class="table table-bordered" id="metricsTable2">
                    <thead><th>Metrics 2</th><th>Recall</th><th>Precision</th></thead>
                    <tbody></tbody>
                </table>
           
</div>

</div>
</div>



<script>
   
    var matrix_select = $("#matrix-select");
    var ratio = document.getElementById('ratio_here');
    var threshold = document.getElementById('threshold_here');

    var row, cell;
   

    $("#matrix-select").change(function(){
        $.get('/get_matrix_categories', {'matrix_id': matrix_select.val() }).done(
            function(returnedData) {
       
            var ddlValidation = $("#alt-cat");
            for(var i=0; i<returnedData[0].length; i++){
                ddlValidation.append("<option value="+returnedData[0][i]+">" + returnedData[1][i] + "</option>");
                };

            var newCat = $("#new-cat");
            for(var i=0; i<returnedData[2].length; i++){
                newCat.append("<option value="+returnedData[2][i][0]+">" + returnedData[2][i][1] + "</option>");
                };
            
            });
    });

    var alt_cat = $("#alt-cat");
    var new_cat = $("#new-cat");

    $("#compareBtn").click(function(){
        
        $.get('/get_compare_matrix_data', {'matrix_id': matrix_select.val(), 'alt_cat': alt_cat.val(), 'new_cat': new_cat.val() }).done(
            function(returnedData) {
                console.log(matrix_select.val());
                console.log(alt_cat.val());
                ratio.innerText = returnedData[3];
                threshold.innerText = returnedData[2];
                console.log(threshold.innerText)
                
            $("#confmx1 > tbody").empty();
            $("#head1").empty();
            var mxtable = $('#confmx1');
            var head1 = $('#head1');
            head1.append($('<th>'+"matrix 1"+'</th>'));
            var row1, cell1;
            for(var i=0; i<returnedData[0].length; i++){
                row1 = $( '<tr />' );
                mxtable.append( row1 );
                head1.append($('<th>'+returnedData[0][i][0][0]+'</th>'));
            for(var j=0; j<returnedData[0][i].length; j++){
                cell1 = $('<td style="background-color: hsl('+returnedData[1][i][j][2][0]+', '+returnedData[1][i][j][2][1]+'%, '+returnedData[1][i][j][2][2]+'%, 0.7);">'+returnedData[0][i][j][0]+'</td>')
               
                row1.append( cell1 );
            }

        };
            $("#confmx2 > tbody").empty();
            $("#head2").empty();
            var mxtable2 = $('#confmx2');
            var head2 = $('#head2');
            head2.append($('<th>'+"matrix 2"+'</th>'));
            var row2, cell2;
            for(var i=0; i<returnedData[1].length; i++){
                row2 = $( '<tr />' );
                mxtable2.append( row2 );
                head2.append($('<th>'+returnedData[1][i][0][0]+'</th>'));
            for(var j=0; j<returnedData[1][i].length; j++){
                console.log(returnedData[1][i][j][2][0],returnedData[1][i][j][2][1])
                cell2 = $('<td style="background-color: hsl('+returnedData[1][i][j][2][0]+', '+returnedData[1][i][j][2][1]+'%, '+returnedData[1][i][j][2][2]+'%, 0.7);">'+returnedData[1][i][j][0]+'</td>')
                
                row2.append( cell2 );
            }
        };

            $("#compareTable > tbody").empty();
            var table = $('#compareTable');

            for(var i=0; i<returnedData[4].length; i++){
                row = $( '<tr />' );
                table.append( row );
            for(var j=0; j<returnedData[4][i].length; j++){
                cell = $('<td>'+returnedData[4][i][j]+'</td>')
                row.append( cell );
            }
            };
       

        $("#metricsTable1 > tbody").empty();
            var table = $('#metricsTable1');
            
            for(var i=0; i<returnedData[5][0].length; i++){
                row = $( '<tr />' );
                table.append( row );
            for(var j=0; j<returnedData[5][0][i].length; j++){
                cell = $('<td>'+returnedData[5][0][i][j]+'</td>')
               
                row.append( cell );
            }
            }
        $("#metricsTable2 > tbody").empty();
            var table = $('#metricsTable2');
            
            for(var i=0; i<returnedData[5][1].length; i++){
                row = $( '<tr />' );
                table.append( row );
            for(var j=0; j<returnedData[5][1][i].length; j++){
                cell = $('<td>'+returnedData[5][1][i][j]+'</td>')
               
                row.append( cell );
            }
            }
        });
        $("#myForm").trigger("reset");
    }); 


</script>

