
<div class="content-section">

{% for m in matrices %}
<div class="content-section">
<a href= {{ url_for('matrix', matrix_id=m.id) }}>Matrix {{ m.id }}</a>
<table class="table">

<tr><td><b>Categories: </b></td><td> 
    {{ m.categories[0].name }} and {{ m.categories[1].name }}
    </td></tr>
<tr><td><b>Threshold: </b> </td><td>{{ m.threshold }} </td></tr>
<tr><td><b>Ratio: </b> </td><td>{{ m.ratio }}</td></tr>
<tr><td><b>Accuracy: </b></td><td>{{ m.data.accuracy }}</td></tr>

</table>
</div>
{% endfor %}
</div>

