

{% extends "layout.html" %}

{% block content %}
<h1> Confusion Matrix </h1>
<br>
<p><a href="{{ url_for('matrix_overview') }}">See overview over all matrices</a></p>

<table class="table table-bordered" >
    <thead><tr><th><a>Confusion Matrix</a></th><th>Predicted {{ cat_names[0] }}</th><th>Predicted {{ cat_names[1] }}</th></tr></thead>
    <tbody><tr><th>True {{ cat_names[0] }}</th><td>{{ matrix.data['matrix_classes']['TP'] }}</td></td><td>{{ matrix.data['matrix_classes']['FN'] }}</td></tbody></tr>
    <tbody><tr><th>True {{ cat_names[1] }}</th></td><td>{{ matrix.data['matrix_classes']['FP'] }}</td><td>{{ matrix.data['matrix_classes']['TN'] }}</td></tbody></tr>
    
</table>
<div>
{% include "matrix_aggregate.html" %}

</div>
{% endblock content %}  