{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <h2>Public models</h2>
    <p class="border-bottom mb-4"></p>
    {% for model in models %}
        <a class="nav-item nav-link" href="{{ url_for('word_embedding') }}?model={{ model.id }}">{{ model.name }}</a>
        <p>{{ model.description }} </p>
    {% endfor %}
    <p class="border-top mb-4"></p>
    {% if prev_url %}
        <a class="nav-item nav-link" href="{{ prev_url }}">Previous page</a>
    {% endif %}
    {% if next_url %}
        <a class="nav-item nav-link" href="{{ next_url }}">Next page</a>
    {% endif %}
</div>

{% endblock content %}
