{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <h2>{{ title }}</h2>
    <p class="border-bottom mb-4"></p>
    {% for model in models %}
        <a class="nav-item nav-link" href="{{ url_for('word_embedding') }}?model={{ model.id }}">{{ model.name }}</a>
        <p>{{ model.description }} </p>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <p class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="false">&larr;</span> Previous page
                </a>
            </p>
            <p class="next{% if not prev_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next page <span aria-hidden="true">&rarr;</span>
                </a>
            </p>
        </ul>
    </nav>
</div>

{% endblock content %}
