{% extends "layout.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <h1>Project Title: {{ project.name }} </h1>
<br>
<div class="content-section" id="my_analyses">
    <h2>My analyses on project {{ project.name }} </h2>
    {% if analyses != [] %}
        <legend class="border-bottom mb-4">Bayesian analyses</legend>
        <div class="content-section" id="analyses_list">
            {% for a in analyses %}
                <a class="nav-item nav-link" href="{{ url_for('analysis') }}?analysis={{a.id}}">{{a.name}}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if d2v_models != [] %}
        <legend class="border-bottom mb-4">Word embedding models</legend>
        <div class="content-section" id="d2v_models_list">
            {% for d2v in d2v_models %}
                <a class="nav-item nav-link" href="{{ url_for('word_embedding') }}?model={{d2v.id}}">{{d2v.name}}</a>
                <p>{{ d2v.description }}</p>
            {% endfor %}
        </div>
        <p><a href="{{ url_for('project2_d2v_models', project=project.id) }}">See all the project's Doc2Vec models</a></p>
        <p><a href="{{ url_for('models_comparison', project=project.id) }}">Compare word embedding models</a></p>
    {% endif %}
</div>

{% for p in projects %}
    <a class="nav-item nav-link" href="{{ url_for('project') }}?project={{ p.id }}">p.name</a>
{% endfor %}
<div class="content-section" id="select_form">
<h2>Create New Analysis</h2>
    <form method="POST" action="">
        <div class="select_menu">
            <label for="proj_type">Choose the type of analysis: </label>
            <select id="proj_type">
                <option value="shared_corpus_bay">Bayesian analysis - Shared corpus</option>
                <option value="random_corpus_bay">Bayesian analysis - Randomized corpus</option>
                <option value="word_embedding">Word embedding analysis</option>
            </select>
        </div>
    </form>
    <p></p>

    <div class="creation-form" id="shared_corpus_bay">
        <legend class="border-bottom mb-4">Bayesian analysis</legend>
        <form method="POST" action="">
        {{ bayesian_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ bayesian_form.name.label(class="form-control-label") }}
                    {% if bayesian_form.name.errors %}
                        {{ bayesian_form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in bayesian_form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ bayesian_form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                    <div class="form-check">
                        {{ bayesian_form.annotate(class="form-check-input") }}
                        {{ bayesian_form.annotate.label(class="form-check-label") }}
                    </div>
                <div class="form-group">
                    {{ bayesian_form.number.label(class="form-control-label") }}
                    {% if bayesian_form.number.errors %}
                        {{ bayesian_form.number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in bayesian_form.number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ bayesian_form.number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ bayesian_form.submit_bay(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <div class="creation-form" id="random_corpus_bay">
        <legend class="border-bottom mb-4">Bayesian analysis</legend>
        <form method="POST" action="">
        {{ bayesian_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ bayesian_form.name.label(class="form-control-label") }}
                    {% if bayesian_form.name.errors %}
                        {{ bayesian_form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in bayesian_form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ bayesian_form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                    <div class="form-check">
                        {{ bayesian_form.annotate(class="form-check-input") }}
                        {{ bayesian_form.annotate.label(class="form-check-label") }}
                    </div>
                <div class="form-group">
                    {{ bayesian_form.number.label(class="form-control-label") }}
                    {% if bayesian_form.number.errors %}
                        {{ bayesian_form.number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in bayesian_form.number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ bayesian_form.number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ bayesian_form.submit_bay(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <div class="creation-form" id="word_embedding">
        <legend class="border-bottom mb-4">Word embedding model</legend>
        <form method="POST" action="">
        {{ embedding_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ embedding_form.name.label(class="form-control-label") }}
                    {% if embedding_form.name.errors %}
                        {{ embedding_form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in embedding_form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ embedding_form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ embedding_form.description.label(class="form-control-label") }}
                    {% if embedding_form.description.errors %}
                        {{ embedding_form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in embedding_form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ embedding_form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ embedding_form.public(class="form-check-input") }}
                    {{ embedding_form.public.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                    {{ embedding_form.d2v(class="form-check-input") }}
                    {{ embedding_form.d2v.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                    {{ embedding_form.vector_size.label(class="form-control-label") }}
                    {% if embedding_form.vector_size.errors %}
                        {{ embedding_form.vector_size(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in embedding_form.vector_size.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ embedding_form.vector_size(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ embedding_form.epochs.label(class="form-control-label") }}
                    {% if embedding_form.epochs.errors %}
                        {{ embedding_form.epochs(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in embedding_form.epochs.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ embedding_form.epochs(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ embedding_form.training_set.label(class="form-control-label")}}<br>
                        {{ embedding_form.training_set(class="form-control form-control-lg")}}
                        {% for error in embedding_form.training_set.errors %}
                            <span style="color :red;">[{{ error }}]</span>
                        {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ embedding_form.submit_emb(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){

      //hides dropdown content
      $(".content-section").hide();
      $(".creation-form").hide();

      //unhides first option content
      $("#my_analyses").show();
      $("#analyses_list").show();
      $("#d2v_models_list").show();
      $("#select_form").show();
      $("#shared_corpus_bay").show();

      //listen to dropdown for change
      $("#proj_type").change(function(){
        //rehide content on change
        $('.content-section').hide();
        $(".creation-form").hide();
        //unhides current item
        $("#my_analyses").show();
        $("#analyses_list").show();
        $("#d2v_models_list").show();
        $("#select_form").show();
        $('#'+$(this).val()).show();
      });
    });
</script>
{% endblock content %}
