{% extends "layout.html" %}
{% block content %}

    <h1>
        Annotate Tweets
    </h1>
    <p>Here you can highlight parts of tweets that you regard characteristic for the chosen political party.</p>
    

    
    <form action="" method="post">
        <select id="sel-cat"> 
            <option value='0'>Select a category</option>
            {% for c in categories %}
            <option value={{ c.id }} >
                        <span>{{ c.name }}</span>  
            </option> 
            {% endfor %}
        </select>
    </form>
    <form action="" method="post"> <button id="cat-btn" type="submit" name="select-category" value="1">Select category</button></form>
    

    <div class="content-section">
        {% set table_data = tweet_table %}
        {% set table_name = "Tweets" %}
        {% include "data_table.html" %}
    </div>
    

    <div class="content-section">             
        {% include "annotation_form.html" %}
    </div>


{% endblock content %}


