
<div class="content-section" ></div>
{% for tweet in hl_dict %}
    <a id="highlight" name = "highlight">{{ hl_dict[tweet].text }}</a>
    <br>
    {% endfor %}
</div>



<script>
    
    {% for tweet in hl_dict %}[
    var element = document.getElementById("highlight").innerHTML;
    
    var string = element.innerHTML; 
    
    var i = {{ hl_dict[tweet].loc[0] }} -1;

    var j = {{ hl_dict[tweet].loc[1] }};
    
    var redText = string.substring(i, j);
    
    

    element.innerHTML = string.substring(0,i)+"<a style='color:red;'>"+redText+"</a>"+string.substring(j);
]
    {% endfor %} 
</script>