{% extends "layout.html" %}
{% block content %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <h1>Model Title: {{ db_model.name }}</h1>
    <p><a href="{{ url_for('project') }}?project={{ project }}">Back to project page</a></p>
    {% if project.owner == user or user.admin %}
        {% if db_model.public == 'no' %}
        <p><a href="{{ url_for('word_embedding_change_public', model=db_model.id) }}">Make the model public</a></p>
        {% else %}
        <p><a href="{{ url_for('word_embedding_change_public', model=db_model.id) }}">Make the model private</a></p>
        {% endif %}
    {% endif %}
    <h1>Word embedding analysis tools</h1>
    <div class="content-section">
        <h2>Words similarity</h2>
        <form method="POST" action="">
            {{ word_sim_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Compute words similarity</legend>
                <div class="form-group">
                    {{ word_sim_form.word1.label(class="form-control-label") }}

                    {% if word_sim_form.word1.errors %}
                        {{ word_sim_form.word1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in word_sim_form.word1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ word_sim_form.word1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ word_sim_form.word2.label(class="form-control-label") }}

                    {% if word_sim_form.word2.errors %}
                        {{ word_sim_form.word2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in word_sim_form.word2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ word_sim_form.word2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ word_sim_form.word_sim_submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
        {% if word_sim != None %}
        <div>
            <p>{{ word_sim[0][0] }}</p>
        </div>
        {% endif %}

        <form method="POST" action="">
            {{ word_most_sim_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Get most similar words</legend>
                <div class="form-group">
                    {{ word_most_sim_form.word.label(class="form-control-label") }}

                    {% if word_most_sim_form.word.errors %}
                        {{ word_most_sim_form.word(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in word_most_sim_form.word.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ word_most_sim_form.word(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ word_most_sim_form.word_most_sim_submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
        {% if most_sim_words != None %}
        <ul>
            {% for word in most_sim_words %}
                <li> <p align="justify">{{ word }} ({{ most_sim_words[word] }})</p> </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="content-section">
        <form method="POST" action="">
            {{ display_form.hidden_tag() }}
            <fieldset class="form-group">
                <h2>Display the embedded vectors</h2>
                <div class="form-group">
                    {{ display_form.displayed_set.label(class="form-control-label") }}

                    {% if display_form.displayed_set.errors %}
                        {{ display_form.displayed_set(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in display_form.displayed_set.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ display_form.displayed_set(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ display_form.method.label(class="form-control-label") }}
                    {% if display_form.method.errors %}
                        {{ display_form.method(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in display_form.method.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ display_form.method(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ display_form.nb_vecs.label(class="form-control-label") }}

                    {% if display_form.nb_vecs.errors %}
                        {{ display_form.nb_vecs(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in display_form.nb_vecs.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ display_form.nb_vecs(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ display_form.dimension.label(class="form-group-label") }}
                    {{ display_form.dimension(class="form-group-input") }}
                </div>
                <div class="form-group">
                    {{ display_form.submit_display(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
        {% if show_form %}
            <form method="POST" action="">
                {{ show_form.hidden_tag() }}
                <div class="form-group">
                    {{ show_form.show(class="btn btn-outline-info") }}
                </div>
            </form>
            {% if data_z %}
                <div id="3D_graph"></div>
            {% endif %}
            {% if data_x and not data_z %}
                <div id="2D_graph"></div>
            {% endif %}
        {% endif %}
    </div>

    <div class="content-section">
        <form method="POST" action="">
                {{ submit_tweet_form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Write your own tweet and find the closest ones</legend>
                    <div class="form-group">
                        {{ submit_tweet_form.text.label(class="form-control-label") }}

                        {% if submit_tweet_form.text.errors %}
                            {{ submit_tweet_form.text(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in submit_tweet_form.text.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ submit_tweet_form.text(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ submit_tweet_form.topn.label(class="form-control-label") }}

                        {% if submit_tweet_form.topn.errors %}
                            {{ submit_tweet_form.topn(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in submit_tweet_form.topn.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ submit_tweet_form.topn(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ submit_tweet_form.tweet_submit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form>
            {% if closest_tweets != None %}
                {% for tweet in closest_tweets %}
                    <li> <p align="justify">{{ tweet[0] }} ({{ tweet[1] }}, {{tweet[2]}})</p> </li>
                {% endfor %}
            {% endif %}
    </div>


    <script>
        GRAPH = document.getElementById('3D_graph');
        var data = [];
        var data_x = {{ data_x }};
        var data_y = {{ data_y }};
        var data_z = {{ data_z }};
        var labels = {{ labels|safe }};
        for (i = 0; i < data_x.length; i++) {
            var trace = {
                x: data_x[i],
                y: data_y[i],
                z: data_z[i],
                mode: 'markers',
                name: labels[i],
                marker: {
                    size: 12,
                    line: {
                    color: 'rgba(217, 217, 217, 0.14)',
                    width: 0.5},
                    opacity: 0.4},
                type: 'scatter3d'
            };
            data.push(trace);
        };
        var layout = {margin: {
            l: 0,
            r: 0,
            b: 0,
            t: 0
          },
          title: '3D scatter plot'};
        Plotly.newPlot(GRAPH, data, layout);
    </script>
    <script>
        GRAPH = document.getElementById('2D_graph');
        var data = []
        var data_x = {{ data_x }};
        var data_y = {{ data_y }};
        var labels = {{ labels|safe }};
        for (i = 0; i < data_x.length; i++) {
            var trace = {
              x: data_x[i],
              y: data_y[i],
              mode: 'markers',
              type: 'scatter',
              name: labels[i],
              marker: {
                    size: 10,
                    line: {
                    color: 'rgba(217, 217, 217, 0.14)',
                    width: 0.5},
                    opacity: 0.4}
            };
            data.push(trace);
        }

        var layout = {
          title:'Data Labels Hover'
        };

        Plotly.newPlot(GRAPH, data, layout);
    </script>
{% endblock content %}
