
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


    <span id="tag" value='{{ tag }}' type='hidden'></span>
    <p id="tweet_nr">Tweet: {{ tweet }} </p>

        
    <div class="content-section" id = {{ tweet }} tweet_id={{ tweet }} name='tweets'>   

    </div>


<script>
    var tagged_tweets = [] ;
    var a_tag = $("#tag").attr('value');
    var span ;
    $('[tweet_id]').each(function( ) {
        var tweet_id= ($(this).attr('tweet_id'));
        console.log(tweet_id)
        tagged_tweets.push(tweet_id) 
        });

    tagged_tweets.forEach(function(tweet_id) {
        var element = document.getElementById(tweet_id);
        $.get('/jq_highlight_tweet', {'tweet_id': tweet_id, 'the_tag' : a_tag }).done(
            function(returnedData) {  
                console.log(returnedData.length)
                for(var i=0; i<returnedData.length; i++){
                    
                    span = $('<span class='+returnedData[i][1]+returnedData[i][4]+'>'+returnedData[i][0]+' </span>')
                    span.css("background-color", 'hsl(60,'+returnedData[i][2]+'%,'+returnedData[i][3]+'%,'+returnedData[i][4]+')');
                    element.append( span[0] );
                    
                };
            });   
    });

    
    $(document).ready(function() {
        
        //Build your CSS.
        var body_tag_css = {
            "background-color": "#ddd",
            "font-weight": "",
            "color": "#000"
        }
        //Apply your CSS to the body tag.  You can enter any tag here, as
        //well as ID's and Classes.
        $("#tweet-text").css(body_tag_css);
        });

    function tagFunction() {
        var newtag = document.getElementById("sel-cat").value;
        var cat_btn = $("#cat-btn");
        var catid = newtag
        cat_btn.attr('value',catid);
        
        }
</script>



<script>

</script>