{% extends "layout.html" %}
{% block content %}

<div class="row">

    <div class="col-md-8">
    <div class="content-section">
        <table>
            <tr>
                <td>
                    <a class="nav-item nav-link" href="{{ url_for('analyses_controller.analysis') }}?analysis={{ analysis.id }}">Tweets</a>
                </td>
                <td>
                    <a class="nav-item nav-link" href="{{ url_for('analyses_controller.shared_analysis_view') }}?analysis={{ analysis.id }}">Label &amp; Word Statistics</a>
                </td>
                <td>
                    <a class="nav-item nav-link">Annotations</a>
                </td>
                {% if not analysis.shared %}
                <td>
                    <a class="nav-item nav-link" href="{{ url_for('analyses_controller.robot') }}?robot={{ analysis.robots[-1].id }}">Gå til seneste Robot</a>
                </td>
                {% endif %}
            </tr>
        </table>
    </div>

    {% include "analyses/annotations_colors.html" %}

</div>
<div class="col-md-4">

   
        <table>
            <tr><td><span><a class="nav-item nav-link" href="{{ url_for('analyses_controller.analysis') }}?analysis={{ analysis.id }}">Back to analysis</a></span></td></tr>
            <tr><td><span><a class="nav-item nav-link" href="{{ url_for('analyses_controller.annotation_summary', analysis_id= analysis.id ) }}">See annotation summary</a></span></td>
            </tr>
        </table>

    <div id="delete-form" style="display: none;" class="content-section">
        <span id="del-headline"></span>
        <table class="table table-delete" id="del-table" >
                <thead><tr><th>Tagged text</th><th>Tag</th><th>Delete?</th></tr></thead>
                <tbody></tbody>
        </table>
        
        <button id="hide-btn" onclick=hide() class="btn">Hide</button>
    </div>
</div>
{% include "analyses/annotation_delete.html" %}
<style>
    .table-delete { 
        font-size: 80%; 
        width: 100%;
        margin-top: 40px;
        margin-left: 0%;
        margin-right: 0%
       
    }
    .btn {
    border: black;
    background-color: #e7e7e7; 
    color: black;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin-top: 20px;
    }
</style>
</div>
{% endblock content %}