
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="mb-3">
                <legend class="border-bottom mb-4">Create a new Matrix</legend>
                

                <div class="mb-3">
                    {{ form.categories.label(class="form-label")}}<br>
                    {{ form.categories(class="form-control form-control-lg")}}
                    {% for error in form.categories.errors %}
                        <span style="color :red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.ratio.label(class="form-label")}}<br>
                    {{ form.ratio(class="form-control form-control-lg")}}
                    {% for error in form.ratio.errors %}
                        <span style="color :red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="mb-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
