
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" integrity="sha256-ONYvIHQ2aaj11TF4v1s4BQW/hfl1c2dwXXtTS/JHaM4=" crossorigin="anonymous">


<table id="{{ table_name }}" class="display">
    <thead>
        <tr>
            {% for k in table_data[0] %}
            <th>{{ k }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for datum in table_data %}
        <tr>
            {% for data_point in datum.values() %}
            <td>{{ data_point }}</td>
            {% endfor %}
            <td><form action="" method="post"><button type="submit" name="delete" value="{{ datum['annotation'] }}">Delete</button></form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Datatables JS -->
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js" integrity="sha256-cyRshFY0hITU37g2CswuxWfAJJcNH/4Te3xGt9+pjZs=" crossorigin="anonymous"></script>
<script>
$(document).ready( function () {
    $('#{{table_name}}').DataTable();
} );
</script>


