
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simplePagination.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.simplePagination.js') }}"></script>

<input type="hidden" name="tweetid" value="" id="t_id"/>
<div id="all-annotated-tweets">
    <table id="all-tweet-table">
        
    {% for tweet in all_tagged_tweets %}
    <div class="paginateall">
        <span type='hidden'></span>
        <div class="content-section" id='all-{{ tweet.id }}' tweet_id_all={{ tweet.id }} name='alltweets'>   
            <p id="tweet_nr">Tweet: {{ tweet.id }}, category: {{ tweet.handle }} </p>
           
            <!-- tweet body comes here -->
        
        </div>
        
            
    </div>

    {% endfor %}
    
</table>
</div>

<script>
    var all_tagged_tweets = [] ;
    
    var span ;
    $('[tweet_id_all]').each(function( ) {
        var tweet_id_all= ($(this).attr('tweet_id_all'));
        console.log('this is' + tweet_id_all);
        all_tagged_tweets.push(tweet_id_all); 
        });

    function showTweet() {
        all_tagged_tweets.forEach(function(tweet_id_all) {
            console.log('showing: ' +tweet_id_all);
            var element = document.getElementById('all-'+tweet_id_all);
            console.log(element)
                $.get('/tweet_annotations', {'analysis_id': {{ analysis.id }}, 'tweet_id': tweet_id_all}).done(
                    function(returnedData) {
                    console.log(returnedData[0].length)
                    console.log(returnedData[0][1])
                    var span ;
                    for(var i=0; i<returnedData[0].length; i++){
                        
                                span = $('<span class="'+returnedData[0][i][2]+'-'+returnedData[0][i][3]+'" title="'+returnedData[0][i][6]+'='+returnedData[0][i][5]+' tags" value='+returnedData[0][i][1]+' id='+returnedData[0][i][1]+'>'+returnedData[0][i][0]+' '+'</span>')
                                console.log(span)
                                span.css("margin-left",  '.05rem');
                                span.css("background-color", 'hsl('+returnedData[0][i][4]+', '+((returnedData[0][i][3]- 0.50) * 200)+'% , 70%)');
                                element.append(span[0])
                            
                        };
                        //$("#tagged-tweet").attr('tweet_id', returnedData[1]);
                        console.log('tweet is ' +returnedData[1]);
            });   
        }); 
    };       

    window.onload = showTweet()

    jQuery(function($) {
    // Grab whatever we need to paginate
    var pageParts = $(".paginateall");

    // How many parts do we have?
    var numPages = pageParts.length;
    console.log(numPages)
    // How many parts do we want per page?
    var perPage = 4;

    // When the document loads we're on page 1
    // So to start with... hide everything else
    pageParts.slice(perPage).hide();
    // Apply simplePagination to our placeholder
    $("#all-tweet-table").pagination({
        items: numPages,
        itemsOnPage: perPage,
        cssStyle: "compact-theme",
        // We implement the actual pagination
        //   in this next function. It runs on
        //   the event that a user changes page
        onPageClick: function(pageNum) {
            // Which page parts do we show?
            var start = perPage * (pageNum - 1);
            var end = start + perPage;

            // First hide all page parts
            // Then show those just for our page
            pageParts.hide()
                     .slice(start, end).show();
        }
    });
});

</script>


