{% extends "layout.html" %}
{% block content %}
<h1>Annotation overview</h1>
Here you can see how each tag has been used.
<a class="nav-item nav-link" href="{{ url_for('analysis') }}?analysis={{ analysis.id }}">Back to analysis</a>
<div class="content-section">  

    <h4 id="headline">Now showing the tag: {{ tag }} </h4>

    <form action="" method="post">
        <select id="sel-cat" onchange="tagFunction()"> 
            <option value='0'>Change tag</option>
            {% for t in all_tags %}
            <option value={{ t }} >
                        <span>{{ t }}</span>  
            </option> 
            {% endfor %}
        </select>
    <button id="cat-btn" type="submit" name="select-tag" value="">Change tag</button></form>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tweets with the tag {{ tag }}</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Annotation table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">All used tags</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="contact-tab">
    <div class ="content-section">

       
        
        <div class="content-section">

            <h4 id="headline">Table for tweets using the annotation tag <b>{{ tag }}</b> </h4>
            {% set table_data = ann_table %}
            {% set table_name = "tweet_annotations" %}
            {% include "data_table.html" %}
        </div>
        
        </div>
    </div>
   
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="content-section">
            <h3>Overall use of tags</h3>
            <div class="row">

                <div class="col-md-6"> 
                    <div class="all-annotations" id="chart">
                    {% set chart_data = allann_table %}
                    {% set table_name = "all_annotations" %}
                    {% include "bar_chart.html" %}
                    <style>
                        .all-annotations {
                                margin: auto;
                                width: 500px;
                                height: 500px;
                                padding: 20px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                                    }
                    </style>
                </div>
                
                </div>
                <div class="col-md-6"> 
                    See all annotated tweets and annotations:
                    {% include "annotated_tweets.html" %}
                </div>
               
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="home-tab">
        <div class="content-section">
        <h3>Annotations with the tag {{ tag }}</h3>
        <div id="tagged-tweets">
            <table id="atag-tweet-table">
            {% for tweet in tweets %}
            <div class="paginate">
                <span id="tag" value='{{ tag }}' type='hidden'></span>
                <div class="content-section" id = {{ tweet }} tweet_id={{ tweet }} name='tweets'>   
                    <p id="tweet_nr">Tweet: {{ tweet }} </p>
                    <!-- tweet body comes here -->
                </div>
            </div>
            {% endfor %}
            </table>
            {% include "annotations_per_tweet_jq.html" %}

        </div>
        </div>

</div>

{% endblock content %}