<canvas id="myChart" width="50px" height="50px"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js" integrity="sha256-+8RZJua0aEWg+QVVKg4LEzEEm/8RFez5Tb4JBNiV5xA=" crossorigin="anonymous"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
            {% for d in chart_data.labels %}
            '{{d}} ',
            {% endfor %}],
        datasets: [
        {
            label: 'Hep1',
            data: [ {.7 }],
            backgroundColor: [
                'rgba(155, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(155, 99, 132, 1)'
            ],
            borderWidth: 1
        }
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>