
{% extends "layout.html" %}
{% block content %}
  

<table id="myMatrix" class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            {% for k in matrix.categories %}
            <th>{{ k.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in counts %}
        <tr>
            {% for i in row %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    
    
    
</table>
    
        <ul>
        <p>Trained on {{ matrix.data.nr_train_tweets }} tweets.</p>
        <p>Current certainty threshold: {{ matrix.threshold }}</p>
        <p>Accuracy: {{ matrix.data.accuracy }} </p>
        <p>Tweets in matrix: <a href="{{ url_for('analyses_controller.included_tweets', matrix_id=matrix.id) }}">{{ matrix.data['nr_incl_tweets'] }}</a>  / {{ matrix.data['nr_test_tweets'] }}</p>
        <p>Excluded tweets: <a href="{{ url_for('analyses_controller.excluded_tweets', matrix_id=matrix.id) }}">{{ matrix.data['nr_excl_tweets'] }}</a>  / {{ matrix.data['nr_test_tweets'] }}</p>
        </ul>
    

    <div class="content-section">
    <h3> Modify parameters </h3>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.threshold.label(class="form-control-label")}}<br>
                {{ form.threshold(class="form-control form-control-lg")}}
                {% for error in form.threshold.errors %}
                    <span style="color :red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.ratio.label(class="form-control-label")}}<br>
                {% if form.ratio.errors %}
                {{ form.ratio(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.ratio.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.ratio(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.shuffle(class="form-check-input") }}
                {{ form.shuffle.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
        


{% endblock content %}