
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<div class="row">
    
<div class="col-md-8"> 
    <div class="content-section">
        <h2> See how the classification performed </h2>
        <p>Predictions are in the vertical columns, true categories in horizontal rows of the matrix.</p>
    <div class="content-section">
    <table id="myMatrix" class="table table-bordered">
        <thead>
            <tr>
                <th>Matrix</th>
                {% for k in matrix.categories %}
                <th>{{ k.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for l in index_list %}
            
            <tr>
                {% for i in l %}
                <td class='{{ i[1] }}'><a class='link' href="{{ url_for('analyses_controller.matrix_tweets', matrix_id=matrix.id) }}?cm={{ i[1] }}">{{ i[0] }}</a></td>
                {% endfor %}
            </tr>
            
            {% endfor %}
        </tbody>
        </table>

        <style type="text/css">
            {% for l in index_list %}
            {% for i in l %}
            .{{ i[1] }} {
                background-color : hsl({{i[3][0]}}, {{i[3][1]}}%, {{i[3][2]}}%, {{i[4]}});
                text-align: center; 
                }
            {% endfor %}
            {% endfor %}

            .link {
                color:black;
                text-decoration: underline;
                
            }
            .table {
                text-align: center;
            }
            .table td {
               width: 33%; 
            }
        </style>
 
        </div> 
        <div class="content-section">
            {% set table_data = metrics %}
            {% set table_name = "metrics" %}
            {% include "data_table.html" %} 
        </div>

        <div class="content-section" id="pre-rec">
            
        </div>
   
    </div> 
</div>
    <div class="col-md-4"> 
        <div class="content-section">
            <h3>Matrix info</h3>
            <ul>
            <p>Trained on {{ matrix.data.nr_train_tweets }} tweets.</p>
            <p>Current certainty threshold: {{ matrix.threshold }}</p>
            <p>Accuracy: {{ matrix.data.accuracy }} </p>
            

            <p>Tweets in matrix: <a href="{{ url_for('analyses_controller.included_tweets', matrix_id=matrix.id) }}">{{ matrix.data['nr_incl_tweets'] }}</a>  / {{ matrix.data['nr_test_tweets'] }}</p>
            <p>Excluded tweets: <a href="{{ url_for('analyses_controller.excluded_tweets', matrix_id=matrix.id) }}">{{ matrix.data['nr_excl_tweets'] }}</a>  / {{ matrix.data['nr_test_tweets'] }}</p>
            </ul>
        </div>
        <div class="content-section">
            <h3> Modify parameters </h3>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.threshold.label(class="form-control-label")}}<br>
                        {{ form.threshold(class="form-control form-control-lg")}}
                        {% for error in form.threshold.errors %}
                            <span style="color :red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.ratio.label(class="form-control-label")}}<br>
                        {% if form.ratio.errors %}
                        {{ form.ratio(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ratio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.ratio(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.shuffle(class="form-check-input") }}
                        {{ form.shuffle.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
    </div>
    </div>  
</div>
    
       
        


<script>

$(document).ready( function () {
    $.get('/tweet_annotations', {'matrix_id': {{ matrix_id }}}).done(

        for(var i=0; i<returnedData[0].length; i++){
                        for(var j=0; j<returnedData[0][i].length; j++){
                                span = $('<span class="'+returnedData[0][i][j][1]+'" title="'+returnedData[0][i][j][1]+'" value='+returnedData[0][i][j][1]+'><a class='link' href="{{ url_for('analyses_controller.matrix_tweets', matrix_id=matrix.id) }}?cm={{ '+returnedData[0][i][j][1]+' }}">{{ '+returnedData[0][i][j][0]+' }}</a>'+'</span>')
                                console.log(span)
                                span.css("margin-left",  '.05rem');
                                span.css("background-color", 'hsl('+returnedData[0][i][j][3][0]+', '+returnedData[0][i][j][3][1]+'% , '+returnedData[0][i][j][3][2]+'%)');
                                span.css("opacity", returnedData[1])
                                element.append(span)
                            };

                        };

       // $('#{{table_name}}').DataTable(
   //         {'retrieve': true} );
    });
    )};

</script>