
<button id="show">Show details</button>
<button id="hide">Hide detals</button>

<div class="content-section" id="matrix-info">
       

{% for m in matrices %}
<div class="content-section">

<b><a href= {{ url_for('analyses_controller.matrix', matrix_id=m.id) }}>Matrix {{ m.id }}</a></b>
</br>
<tr><td><i><b>Categories: </b></td><td> 
    {% for c in m.categories %}
    {{ c.name }}
    {% endfor %}
</i></td></tr>
<table class="table" id="table_m" style="display: none" >
    <tr><td><b>Tweets in matrix: </b></td><td>{{ m.data.nr_incl_tweets }} / {{ m.data.nr_test_tweets }}</td></tr>
    <tr><td><b>Certainty threshold: </b> </td><td>{{ m.threshold }} </td></tr>
    <tr><td><b>Train/test ratio: </b> </td><td>{{ m.ratio }}</td></tr>
    <tr><td><b>Accuracy: </b></td><td>{{ m.data.accuracy }}</td></tr>
   
</table>
</div>
{% endfor %}
</div>

<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script>
$("#matrix-info").ready(function(){
    $("table").each(function() {
        $("#hide").click(function(){
            $("table").hide();
        });
        $("#show").click(function(){
            $("table").show();
        });
    })
});
</script>