{% extends "layout.html" %}
{% set active_page = "my_projects" %}
{% block content %}
<h1>Welcome to NLP4All!</h1>
<div class="col-md-8">
    <p>This is Natural Languge Processing 4 All (NLP4All). NLPall is designed to make it fun and easy to play with machine learning and language.</p>
    <p>Below you see a list of projects that you can work on. Click on a project to read about it, and to get started.</p>
    </br>
  </div>
  <h1>My Projects</h1>
    <div class="content-section col-md-8">
{% for p in projects %}
<a class="nav-item nav-link" href="{{ url_for('project_controller.project') }}?project={{ p.id }}">{{ p.name }}</a>
<p>{{ p.description }} </p>
{% endfor %}
</div>
{% endblock content %}
